.container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    background-color: darkblue;
}

.logoIMG{
    width: 5%;
}

.login{
    display: flex;
    justify-content: end;
    width: 100%;
}

.thumb{
    display:flex;
    justify-content: end;
}

.container3{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin-top:25px ;
    padding :40px;
    border-radius:8px;
    box-shadow: -7px  6px #9b9a9a,
    10px   6px rgba(255, 255, 255,.3);
    
}