<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login & Regestration</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
            <a href="/"><img class="logo-img" src="{% static 'img/logo.png' %}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/category">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/userslist">Users List</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/registerfreelancer">Add
                            Freelancer</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/showfreelancer">Freelancers
                            List</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link" class="nav-link active" aria-current="page" href="/aboutUS">About Us</a>
                    </li>
                </ul>
                {%if request.session.userid%}
                <a href="/logout" class="log-in">Log Out</a>
                {%else%}
                <a href="/log-in" class="log-in">Login</a>
                {%endif%}
            </div>
        </div>
    </nav>
    <div class="free-logo">
        <a href="/"><img src="{%static 'img/Logo.png'%}" alt="logo" class="free-img"></a>
    </div>
    <h2 class="head">Freelancer Regestration</h2>
    <div class="container">
        <form action="/addfreelancer" method="post">
            {%csrf_token%}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input name="fname" type="text" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input name="lname" type="text" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input name="phone" type="text" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Experience</label>
                <input name="exp" type="number" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Work Field</label>
                <select name="category" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="Blacksmith">Blacksmith</option>
                    <option value="Carpenter">Carpenter</option>
                    <option value="Plumper">Plumper</option>
                    <option value="Tiler">Tiler</option>
                    <option value="Electrician">Electrician</option>
                    <option value="aluminium technician">aluminium technician</option>
                </select>
            </div>
            <button id="free-btn" type="submit" class="btn btn-warning">Add Freelancer</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="footer bg-warning">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Company, Inc</span>
          </div>
      
          <ul id="social" class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><img   id="facebook"src="{% static 'img/Facebook-logo.png' %}" alt="facebook-icon"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"> <img   class="social-img" src="{% static 'img/Instagram.png' %}" alt="instagram-icon"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><img   class="social-img" src="{% static 'img/twitter.png' %}" alt="facebook-icon"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
</body>

</html>