<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WeFix</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- {% block scripts %} -->
  <script src="{%  static 'js/main.js' %}" defer></script>
  <!-- {% endblock scripts %} -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    
</head>

<body>
  {% block content %}
  {% endblock content %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  {% block javascript %}
  {% endblock javascript %}
<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <a href="/"><img class="logo-img" src="{% static 'img/logo.png' %}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/category">Categories</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/userslist">Users List</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/registerfreelancer">Add
                        Freelancer</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/showfreelancer">Freelancers
                        List</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link active" aria-current="page" href="/#about_US">About Us</a>
                </li>
            </ul>
            <div class="search-container">
                <form id="search-form" action="/action_page.php">
                  {% csrf_token %}
                  <input type="text" id="search-input" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <div id="result-serach" class="result-card hidden-visible">
                </div>
              </div>
            {%if request.session.userid%}
            <a href="/logout" class="log-in">Log Out</a>
            {%else%}
            <a href="/log-in" class="log-in">Login</a>
            {%endif%}
        </div>
    </div>
</nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>User</span></th>
							<th><span>Created</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>Email</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
                        {% for user in users %}
						<tr>
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
								<a href="#" class="user-link">{{user.first_name}} {{user.last_name}} </a>
								<span class="user-subhead">Admin</span>
							</td>
							<td>
								{{user.created_at}}
							</td>
							<td class="text-center">
								<span class="label label-default">Active</span>
							</td>
							<td>
								<a href="#">{{user.email}}</a>
							</td>
							<td style="width: 20%;">
								<a href="/userprofile/{{user.id}}" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
								</a>
								<a href="/admindelete/{{user.id}}" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</td>
						</tr>
                        {%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>

<div class="footer bg-warning">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Company, Inc</span>
        </div>

        <ul id="social" class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><img id="facebook"
                        src="{% static 'img/Facebook-logo.png' %}" alt="facebook-icon"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"> <img class="social-img"
                        src="{% static 'img/Instagram.png' %}" alt="instagram-icon"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><img class="social-img"
                        src="{% static 'img/twitter.png' %}" alt="facebook-icon"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook" />
                    </svg></a></li>
        </ul>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>