/* main Page  */
/* body {
    background-image: url('/static/img/main-pic.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
} */
.logo-img {
    width: 150px;
}

.log-in {
    text-decoration: none;
    color: #155263;
    font-size: larger;
    font-weight: bold;
}

#nav-link {
    color: #155263;
    font-weight: bold;
}

.white-space {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.slogan {
    margin-top: 100px;
}

#card-title {
    font-size: 50px;
    text-align: center;
    color: #155263;
}

.card-name {
    font-size: 120px;
    text-align: center;
    color: #ffc107;
}

#socail {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.social-img {
    margin-top: 6%;
    margin-left: 1%;
    width: 40px;
}

#facebook {
    width: 60px;
}

/* profile page  */

.user_info {
    margin: 20px;
    padding: 20px;
    border: 2px solid #155263;
    border-radius: 5px;
}

#edit_btn {
    display: inline;
}

.delete_btn {
    background-color: #dc3545;
    border-radius: 5px;
    padding: 6px 10px 10px 10px;
    text-decoration: none;
    color: black;
}

/* addfreelancer Page  */

.head {
    text-align: center;
    color: #155263;
}

.free-img {
    width: 15%;
}

.free-logo {
    text-align: center;
}

.container {
    border: 2px solid #155263;
    border-radius: 5px;
    padding: 2rem;
}

/* Categories Page  */

.categories a {
    text-decoration: none;
}

.categories .card-title {
    color: #155263;
}

.card {
    margin: 5px;
}

.see_more_btn {
    text-decoration: none;
}

.card-body h3 h4 h5 {
    color: #155263;
}


.free-details {
    display: flex;
    justify-content: center;
}

#card_body>* {
    color: #155263;
}

/* Vote  */
.vote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin-top: 10px;
}

@media all and (max-width: 1000px) {
    .card {
        width: 90%;
        margin: 1%;
    }
}

@media all and (max-width: 720px) {
    .vote {
        width: 15%;
    }
}

.calendar-img {
    width: 27px;
    margin-right: 5px;
    padding-bottom: 7px;
}

.vote img {
    width: 30px;
}

.vote span {
    font-size: 0.8rem;
}

.shadow {
    position: relative;
    bottom: 5px;
}

.down {
    position: relative;
    top: 5px;
}

.settings_vote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    color: #ffc107;
    font-size: 40px;
}

.footer {
    margin-top: 20px;
}


.white-space , .user_info , .user-table , .categories , .contact , .free-details ,  .list-cat   {
    height : 100vh;
}

/* About Us  */
.aboutpictureone{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.aboutpictureonediv{
    text-align: center;
    margin-top: 150px;
}

.paraone{
    font-size: 28px;
}
.aboutpicturetwo{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.paratwo{
    font-size: 28px;
}

.aboutpicturethree{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.parathree{
    font-size: 28px;
}
