/* main Page  */
.logo-img {
    width: 150px;
}

.log-in {
    text-decoration: none;
    color: #155263;
    font-size: larger;
    font-weight: bold;
}

#nav-link {
    color: #155263;
    font-weight: bold;
}

.white-space {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.slogan {
    margin-top: 100px;
}

#card-title {
    font-size: 50px;
    text-align: center;
    color: #155263;
}

.card-name {
    font-size: 120px;
    text-align: center;
    color: #ffc107;
}

.socail {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.social-img {
    margin-top:6%;
    margin-left: 1%;
    width: 40px;
}

#facebook{
    width: 60px;
}

/* profile page  */

.user_info {
    margin: 20px;
    padding: 20px;
    border: 2px solid #155263;
    border-radius: 5px;
}

#edit_btn{
    display: inline;
}

.delete_btn {
    background-color:#dc3545;
    border-radius: 5px;
    padding: 6px 10px 10px 10px;
    text-decoration: none;
    color: black;
}

/* addfreelancer Page  */

.head {
text-align: center;
color: #155263;
}

.free-img {
    width: 15%;
}
.free-logo {
    text-align: center;
}

.container{
    border: 2px solid #155263;
    border-radius: 5px;
    padding: 2rem;
}

/* Categories Page  */
.categories a {
    text-decoration: none;
}

.categories .card-title {
    color: #155263;
}

.card {
    margin: 5px;
}

.see_more_btn {
    text-decoration: none;
}